.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 20px;
}
.logitem1{
    grid-area: 1 / 1 / span 1 / span 2;
    font-weight: bold;
}
.logmargleft{
    margin-left: 2%;
    font-weight: bold;
}
.logitem1 p{
    font-size: 32px;
    margin: 0% auto;
}
.grid-container img{
    margin-left: 2%;
    width: 70px;
    float: left;
}
.grid-container>div{
    padding: 10px 0;
    color:#32523b;
    background-color:#d7d2c7 ;
}
.subgrid{
    font-weight: bold;
    margin-left: 2%;
    display: grid;
    grid-template-columns: auto auto;
}
.subgrid div{
    padding-bottom: 35px;
}
.logheads{
    margin: 0;
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
}

#logdisplay{
  display: none;
}

/* CSS */
.addNewLog {
    float: right;
    margin-top: -2%;
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 0.8rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}
.addNewLog:hover {
  background-color: #374151;
}

.addNewLog:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#comment{
    margin-left: 2%;
}

.commentbtn {
    margin-top: -2%;
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 0.8rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}
.commentbtn:hover {
  background-color: #374151;
}

.commentbtn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  border: 2px solid rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.form{
  width: 100%;
}

.inputfield{
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

label{ 
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 20px;
}

/* Mobile */
@media only screen and (max-width: 645px) {
  .grid-container>div {
    margin-left: -18px;
    padding: 28px;
  }
  #submit {
    margin-left: 100px;
  }
  #logdisplay {
    margin-left: 15px;
    width: 290px
  }
  .addNewLog {
    margin-top: 10px;
    margin-right: 100px;
  }
  #logbook_logo {
    margin-top: 20px;
  }
  #ass_fun {
    margin-left: 100px;
  }
  .commentbtn{
    margin-top: 10px;
    margin-left: 30px;
  }
  #comment {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-color: #111827;
  }
  .addNewLog {
    padding: .75rem 1.5rem;
  }
  .commentbtn{
    padding: .75rem 1.5rem;
  }
}