body {
  font-family: "Open Sans", "sans-serif";
  background-color: #f8f0d5;
  text-align: center;
}

#thankyou {
  background-color: white;
  border-radius: 10px;
  height: 190px;
  width: 300px;
  border: 6px solid #e2552d;
  box-shadow: 7px 7px 4px #4999b6;
  margin: 250px auto 50px;
  text-align: center;
}

#h2thankyou {
  color: #4999b6;
  padding: 32px;
  font-size: 44px;
}
a {
  text-decoration: none;
  color: #4999b6;
}

#linkback {
  text-decoration: none;
  padding: 12px;
  border: 2px solid white;
  background-color: white;
  border-radius: 4px;
  margin: 50px auto;
  width: 200px;
}

#linkback:hover {
  background-color: #e2552d;
}

a:hover {
  color: white;
}