
/*header css
html {
    height: 100%;
}

body {
    color: #41AAC3;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(white, #b6c8e0);
    background-color: #41aac3;
}

.logo {
    display: inline-block;
    margin-left: 1%;
    width: 100px;
    height: 100px;
}

.headimg{
  text-align: right;
}

.mainHeader {
    display: inline-block;
    margin-left: 2%;
}

.mainHeading {
    font-style: italic;
    text-shadow: 2px 2px 2px #b6c8e0;
}


.headerMenu {
    display: flex;
    justify-content: space-around;
    background-color: #b6c8e0;
    height: 30px;
    padding: 10px 0;
}

.headerMenuItem {
    float: none;
    text-align: left;
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    font-weight: bold;
}

.headerMenuItem_visited {
    color: #41aac3;
}

.headings {
    margin-top: 30px;
    margin-left: -17px;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    color: #993232;
}


@media only screen and (min-width: 760px) {


    .headerMenu {
        display: flex;
        height: 30px;
        padding: 10px 0;
    }

    .headerMenuItem {
        text-decoration: none;
        flex: 1;
        text-align: center;
        padding: 5px 5px;
        position: relative;
        color: white;
        font-weight: bold;
    }

    .search {
        float: left;
        align-items: center;
        border-radius: 25px;
        border: solid black;
        background: white;
        padding: auto;
        width: 200px;
        height: 25px;
    }

    .headerMenuItem_visited {
        color: #41aac3;
        border-bottom: solid #41aac3;
    }
}

@media only screen and (max-width: 480px) {
    .headerMenu {
        display: grid;
        height: auto;
        float: none;
    }
}

*/


body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color:#282d32;
  font-size: 15px;
  font-weight: bold;
}

.logo {
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  width: 45px;
  height: 45px;
}

.mainHeader {
  display: inline-block;
  margin-left: 2%;
}

.mainHeading {
  padding-right: 300px;
  color: white;
}

.headerMenu {
  display: flex;
  justify-content: space-around;
  height: 30px;
  padding: 10px 0;
}

.headerMenuItem {
  float: none;
  text-align: left;
  text-decoration: none;
  padding: 5px 5px;
  color: white;
  font-weight: bold;
}

.headerMenuItem_visited {
  color: #41aac3;
}

.headings {
  margin-top: 30px;
  margin-left: -17px;
  list-style: none;
  font-weight: bold;
  text-decoration: none;
  color: #993232;
}

/* Desktop */
@media only screen and (min-width: 760px) {
  .grid_header {
      display: grid;
      grid-template-columns: auto auto auto;
  }
  
  .grid-hdr-search-item {
      margin-right: 450px;
  }

  .headerMenu {
      display: flex;
      height: 30px;
      padding: 10px 0;
  }


  .headerMenuItem {
      text-decoration: none;
      flex: 1;
      text-align: center;
      padding: 5px 5px;
      position: relative;
      color: white;
      font-weight: bold;
  }

  .search_txt {
      margin-top: 25px;
      text-align: center;
      color: white;
      width: 500px;
      border-radius: 20px;
      padding: 5px;
      border: 1px solid #343c44;
      background: transparent;
      background-color: #343c44;
      background: url("/images/search_icon.png") no-repeat 4px 4px;
  }

  .search_txt::placeholder {
      color: white;
      padding-right: 370px;
  }
}

/* Mobile Devices */
@media only screen and (max-width: 645px) {
  .grid_header {
      display: grid;
      grid-template-columns: auto 200px auto;
  }

  .headerMenu {
      display: grid;
      height: auto;
      float: none;
  }

  .search_txt {
      margin-top: 25px;
      text-align: center;
      color: white;
      width: 190px;
      border-radius: 20px;
      padding: 5px;
      border: 1px solid #343c44;
      background: transparent;
      background-color: #343c44;
      background: url("/images/search_icon.png") no-repeat 5px;
  }

  .search_txt::placeholder {
      color: white;
      padding-right: 60px;
  }
}

/*content css*/

.calendar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.head-1 {
    display: flex;
    flex-grow: 7;
  
    justify-content: center;
    align-items: center;
    line-height: 40px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

.day-names {
    display: flex;
    flex-grow: 5;
    background-color: rgb(40, 44, 46);
    color: white;
    align-items: center;
    justify-content: space-evenly;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}

.days {
    display: flex;
    flex-grow: 88;
    background-color: rgb(162, 199, 234);
    border-radius: 5px;
    color: rgb(7, 36, 64);
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 100px;
    justify-content: space-evenly;
}

.day {
    display: flex;
    flex-direction: row;
    border: 0.5px solid;
    width: calc(100% * 1/8);

    justify-content: flex-end;
    align-items: flex-start;
    padding: 5px;
}


/*Footer CSS*/
.footer-dark {
    margin-top: 100px;
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
  }
  
  .review {
    text-align: left;
  }
  
  ul li {
    text-align: left;
  }
  
  .grid-item {
    padding-left: 40px;
  }
  
  .useful_info, .recent_posts, .review {
    font-weight: bold;
    font-size: 18px;
  }
  
  .grid-container {
    display: grid;
    column-gap: 100px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .review_txt {
    text-align: left;
    font-size: 15px;
  }
  
  .footer-dark ul {
    list-style: none;
    padding: 0;
    line-height: 1.6;
    font-size: 14px;
  }
  
  .footer-dark ul a {
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
  }
  
  .footer-dark ul a:hover {
    opacity: 0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark {
      padding-bottom:20px;
      text-align:center;
    }
  }
  
  .footer-dark {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark t {
      margin-bottom:0;
    }
  }
  
  .footer-dark p {
    margin-bottom:0;
    opacity:0.7;
  }
  
  .footer-dark {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark {
      margin-top:21px;
      text-align:center;
    }
  }
  
  .copyright {
    text-align: center;
    opacity: 0.3;
    margin-top: 50px;
    font-size: 13px;
  }