/* Sidebar css */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(49, 43, 43);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.signout {
    margin-top: 220px;
}

/* Mobile */
@media only screen and (max-width: 645px) {
    #side_nav {
        display: flex;
        font-size:30px;
        margin-left:-90px;
        cursor:pointer;
        margin-top: -6px;
    }
}

/* tablet */
@media only screen and (min-width: 647px) and (max-width:1007px) {
    #side_nav {
        display: none;
    }
}

/* Desktop */
@media only screen and (min-width:1008px) {
    #side_nav {
        display: none;
    }
}