body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:#282d32;
    font-size: 15px;
    font-weight: bold;
}

.logo {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
}

.mainHeader {
    display: inline-block;
    margin-left: 2%;
}

.mainHeading {
    padding-right: 300px;
    color: white;
}

.headerMenu {
    display: flex;
    justify-content: space-around;
    height: 30px;
    padding: 10px 0;
}

.headerMenuItem {
    float: none;
    text-align: left;
    text-decoration: none;
    padding: 5px 5px;
    color: white;
    font-weight: bold;
}

.headerMenuItem_visited {
    color: #41aac3;
}

.headings {
    margin-top: 30px;
    margin-left: -17px;
    list-style: none;
    font-weight: bold;
    text-decoration: none;
    color: #993232;
}

/* Desktop */
@media only screen and (min-width: 760px) {
    .grid_header {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    
    .grid-hdr-search-item {
        margin-right: 450px;
    }

    .headerMenu {
        display: flex;
        height: 30px;
        padding: 10px 0;
    }


    .headerMenuItem {
        text-decoration: none;
        flex: 1;
        text-align: center;
        padding: 5px 5px;
        position: relative;
        color: white;
        font-weight: bold;
    }

    .search_txt {
        margin-top: 25px;
        text-align: center;
        color: white;
        width: 500px;
        border-radius: 20px;
        padding: 5px;
        border: 1px solid #343c44;
        background: transparent;
        background-color: #343c44;
        background: url("../images/search_icon.png") no-repeat 4px 4px;
    }

    .search_txt::placeholder {
        color: white;
        padding-right: 370px;
    }
}

/* Mobile Devices */
@media only screen and (max-width: 645px) {
    .grid_header {
        display: grid;
        grid-template-columns: auto 130px auto;
    }

    .headerMenu {
        display: grid;
        height: auto;
        float: none;
        display: none;
    }

    .search_txt {
        margin-top: 25px;
        text-align: center;
        color: white;
        width: 150px;
        border-radius: 20px;
        padding: 5px;
        border: 1px solid #343c44;
        background: transparent;
        background-color: #343c44;
        background: url("../images/search_icon.png") no-repeat 5px;
    }

    .search_txt::placeholder {
        color: white;
        padding-right: 60px;
    }
}