body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #DCDCDC;
    overflow-x: hidden;
}

#searchProject {
    box-sizing: border-box;
}

#projectList {
    display: flex;
    flex-direction: column;
}

#projectList .project{
    display: flex;
    flex-direction: row;
	background-color: white;
	padding: 1rem;
    border: 1px solid #343c44;
	border-radius: 1rem;
	margin: 5px;
}

.projectDetails h2, .projectDetails > p, .projectDetails > a{
    color: black;
    text-decoration: none;
    margin: 1px;
}

.project_logo {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    width: 5%;
    height: 5%;
}

.projectDetails{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}

.popup {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999;
  }
  
  .close_link {
    text-decoration: none;
    color: blue;
  }

  .popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    
    transition: ease 0.25s all;
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0,0,0,0.8);
    
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
  }
  
  .popup-close:hover {
    background: rgba(0,0,0,1);
    text-decoration: none;
    color: #fff;
  }

  /* Desktop */
@media only screen and (min-width:1008px) {
  #search {
    background-image: url('../images/search_icon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    border: 1px solid #343c44;
    border-radius: 1rem;
    margin-bottom: 12px;
    width: 95.5%;
}
    .popup-inner {
        max-width: 700px;
        width: 90%;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
        border-radius: 3px;
        background: #fff;
      }   
}

  /* Mobile */
@media only screen and (max-width: 645px) {
  #search {
        margin-top: 25px;
        text-align: center;
        color: white;
        width: 140px;
        border-radius: 20px;
        padding: 8px;
        border: 1px solid #343c44;
        background: transparent;
        background-color: #343c44;
        background: url("../../images/search_icon.png") no-repeat 2px;
    }
    .search_txt::placeholder {
      color: white;
      padding-left: 30px;
  }
    .popup-inner {
        width: 70%;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 195px;
        transform: translate(-50%, -50%);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
        border-radius: 3px;
        background: #fff;
      }   
}